.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.db.sqlite3
.pytest_cache
static
staticfiles
media
.env
Dockerfile
.dockerignore
render.yaml
iniciar_projeto.bat
aux_data_debug.json
check_ids.py
check_templates.py
